<%@ Page Language="vb" AutoEventWireup="false" Title="Error" CodeBehind="ErrorPage.aspx.vb" Inherits="_941Support.ErrorPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Error</title>
     <link href="Stylesheet.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <table class="Frame"  align="center" width="80%">
    <tr>
        <td align="center">
        <br /><br />
        <asp:Label ID="lblMessage" runat="server" CssClass="HeadCss"></asp:Label>
         <br />
          <br /><br />
          
        </td>
    </tr>
    </table>
    
    </form>
</body>
</html>
