<%@ Master Language="VB"  AutoEventWireup="false" CodeBehind="Main.master.vb" Inherits="_941Support.Main" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>941 Support Utility</title>
    <link href="Stylesheet.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="./Scripts/AnchorPosition.js"></script>
	<script type="text/javascript" src="./Scripts/PopupWindow.js"></script>
	<script type="text/javascript" src="./Scripts/date.js"></script>
	<script type="text/javascript" src="./Scripts/selectbox.js"></script>
	<script type="text/javascript" src="./Scripts/CalendarPopup.js"></script>
	<script type="text/javascript">document.write(CalendarPopup_getStyles());</script>
</head>
<body style="margin: 0 0 0 0;">
    <form id="form1" runat="server">
        <cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </cc1:ToolkitScriptManager>
    <script type="text/javascript">objCal = new CalendarPopup;</script>
    <table class="Frame" width="1000" cellpadding="0" cellspacing="0">
    <tr style="background-color:#CBD49E;">
		    <td align="center" colspan="3" valign="middle" style="height:30px">
		    	<asp:Label ID="lblMainTitle" runat="server" CssClass="Heading"></asp:Label>
			 </td>
	    </tr>
	    <tr style="background-color:#CBD49E;">
	        <td align="center" colspan="3">
	         <asp:Label ID="lblEnv" runat="server" CssClass="WelcomeCss"></asp:Label>
	         <br />
	         <asp:Label ID="lblVersion" runat="server" CssClass="WelcomeCss"></asp:Label>
	        </td>
	    </tr>
	    <tr style="background-color:#CBD49E;">
		<td colspan="3" style="FILTER: progid:DXImageTransform.Microsoft.Shadow(direction=180,color=#37411a,strength=12);MARGIN:0px;">&nbsp;</td>
	    </tr>
	    <tr>
	        <td valign="top" width="20%" rowspan="2" style="height:500px"> 
                <asp:Menu ID="MainMenu" runat="server" BackColor="#CBD49E" DynamicHorizontalOffset="2" 
                    Font-Names="Tahoma" Font-Size="Medium" ForeColor="Maroon" StaticSubMenuIndent="10px" >
                    <StaticSelectedStyle BackColor="#7C6F57" ForeColor="White" />
                    <LevelSubMenuStyles>
                        <asp:SubMenuStyle Font-Underline="False" />
                    </LevelSubMenuStyles>
                    <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                    <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                    <DynamicMenuStyle BackColor="#F7F6F3" />
                    <DynamicSelectedStyle BackColor="#7C6F57" ForeColor="White" />
                    <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                    <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                    <StaticSelectedStyle BackColor="#7C6F57" />
                    <Items>
                        <asp:MenuItem Text="Agency (AGY) Reporting" ToolTip="Agency Sales Validation and Retail Price List" NavigateUrl="~/AgencyCustomerReport.aspx" Value="AgencyCustomerReport"></asp:MenuItem>       
                        <asp:MenuItem NavigateUrl="~/ChangePassword.aspx" Text="Change Password" Value="ChangePassword"></asp:MenuItem>
                        <asp:MenuItem Text="Create IST" ToolTip="Create IST" NavigateUrl="~/CreateIST.aspx" Value="CreateIST"></asp:MenuItem>    
                        <asp:MenuItem NavigateUrl="~/FixCubeFlag.aspx" Text="Fix Cube Item Flag" ToolTip="Fix Cube Item Flag" Value="FixCubeFlag"></asp:MenuItem>
                        <asp:MenuItem Text="Fixing Location" ToolTip="Fix Locations" Value="FixLocation" NavigateUrl="~/FixLocation.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="Freight Forwarding" ToolTip="Freight Forwarding" NavigateUrl="~/FreightForwarding.aspx" Value="FreightForwarding"></asp:MenuItem> 
                        <asp:MenuItem Text="Label Printing" ToolTip="Restart Printing Services" Value="RestartRRPS" NavigateUrl="~/RestartRRPS.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="Licensee Location Transfer" ToolTip="Location Transfer" NavigateUrl="~/LocTransferSearch.aspx" Value="LocationTransfer"></asp:MenuItem>        
                        <asp:MenuItem Text="Product Search" ToolTip="Product Search" NavigateUrl="~/ProductSearch.aspx" Value="ProductSearch"></asp:MenuItem> 
                        <asp:MenuItem Text="Reboot Conveyor Server" ToolTip="Reboot Conveyor Server" NavigateUrl="~/RebootConveyor.aspx" Value="RebootConveyor"></asp:MenuItem>   
                        <asp:MenuItem Text="Reset User" ToolTip="Reset HH User Session" Value="ResetHHUser" NavigateUrl="~/ResetHHUser.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="Run Eord" ToolTip="Run Eord" Value="RunEord" NavigateUrl="~/RunEord.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="SPUR Reporting" ToolTip="SPUR Reporting" Value="SPURReport" NavigateUrl="~/SPURReport.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="Tender Override" ToolTip="Temporary change tender override" Value="TenderRestrictionOverride" NavigateUrl="~/TenderRestrictionOverride.aspx">
                        </asp:MenuItem>
                        <asp:MenuItem Text="Traffic Planning" ToolTip="Traffic Planning" NavigateUrl="~/TrafficPlanning.aspx" Value="TrafficPlanning"></asp:MenuItem>     
                        <asp:MenuItem Text="Unlock Cartons" ToolTip="Page for the user to unlock the locked Carton" Value="UnlockCarton" NavigateUrl="~/UnlockCarton.aspx">
                        </asp:MenuItem>
                        <asp:MenuItem Text="User List" ToolTip="ROC/ROCON Users" Value="UserList" NavigateUrl="~/UserList.aspx"></asp:MenuItem>
                        <asp:MenuItem Text="View Archive Invoices" ToolTip="View Archive Invoices" Value="ArchiveInvoice" NavigateUrl="~/ArchiveInvoice.aspx">
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="ViewConveyorLogs.aspx" Text="View Conveyor Logs" ToolTip="View Dematic Conveyor Log Files"
                        Value="ViewConveyorLogs"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="http://secureportal" Text="Logout" ToolTip="Logout" Value="Logout">
                        </asp:MenuItem>
                    </Items>
                </asp:Menu>
            </td>
            <td width="80%" align="left" style="height: 30px" valign="top"><asp:Label ID="lblWelcome" runat="server"  CssClass="WelcomeCss"></asp:Label></td>
	        <td align="right" valign="top">
	            <asp:HyperLink ID="lnkHelp" runat="server" Text="Help" CssClass="WelcomeCss" NavigateUrl="./Doc/Help.pdf"></asp:HyperLink>
	         </td>
	    </tr> 
            <tr>
              <td width="80%" valign="top" colspan="2">  <asp:ContentPlaceHolder ID="Contents" runat="server">
                    </asp:ContentPlaceHolder>
            </td>
            </tr>
    </table>
      
    </form>
</body>
</html>
