<%@ Page Language="vb" AutoEventWireup="false" title="Reboot Conveyor Server" MasterPageFile="~/Main.Master" CodeBehind="RebootConveyor.aspx.vb" Inherits="_941Support.RebootConveyor" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Contents" runat="server">
<table cellspacing="0" cellpadding="0" align="center" border="0" style="width: 100%">
<tr>
    <td align="center" valign="top">
    <asp:Button ID="btnRestart" runat="server" Text="Reboot Conveyor Server" Width="222px" CssClass="BtnCss" Height="30px" /></td>
</tr>
</table>
        <br />
        <br />
<table cellSpacing="0" cellPadding="0" align="center" border="0" style="width: 100%">
<tr>
    <td align="center">
        <asp:Label ID="lblMessage" runat="server" Width="464px" CssClass="LblCss"></asp:Label>
    </td>
</tr>
</table>
</asp:Content>
