<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/Main.Master" CodeBehind="RestartRRPS.aspx.vb" Inherits="_941Support.RestartRRPS" 
    title="Restart Label Service" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Contents" runat="server">
<table cellspacing="0" cellpadding="0" align="center" border="0" style="width: 100%">
<tr>
    <td align="center" valign="top">
    <asp:Button ID="btnResetLabel" runat="server" Text="Restart Label Service" Width="222px" CssClass="BtnCss" Height="30px" /></td>
</tr>
</table>
        <br />
        <br />
<table cellSpacing="0" cellPadding="0" align="center" border="0" style="width: 100%">
<tr>
    <td align="center">
        <asp:Label ID="lblMessage" runat="server" Width="250px" CssClass="LblCss"></asp:Label>
    </td>
</tr>
</table>
</asp:Content>
