﻿INPUT.BtnCss
{
	Width:100px;
	Border-Color: silver;
	Border-Style:Solid;
	Border-Width:1px;
	background-color : #F7F7F7;
	font-weight:bold;
	font-family: Verdana;
	Color: maroon;
}


.Btn1Css
{
	Width:100px;
	Border-Color: silver;
	Border-Style:Solid;
	Border-Width:1px;
	background-color : #F7F7F7;
	font-weight:bold;
	font-family: Verdana;
	Color: maroon;
	font-size: medium;
}

.LnkCss
{
	font-weight:bold;
	font-family: Verdana;
	color: #37411A;
	font-size: small;
}

.WelcomeCss
{
	font-weight:bold;
	font-family: Verdana;
	color: #37411A;
	font-size:small;
}
.rprompt
{
    font-weight:bold;
	font-family: Verdana;
	text-align: right;
	font-size: small;
}

.LblCss
{
	font-weight:normal;
	font-family:Arial;
	font-style:italic;
	color: Maroon;
	font-size:small;
}

.MsgCss
{
	font-weight:bold;
	font-family:Arial;
	font-style:italic;
	color: Maroon;
	font-size:small;
}

.ValueCss
{
	font-weight:normal;
	font-family:Arial;
	font-style:normal;
	color: Black;
	font-size:small;
}

.LabelCss
{
	font-weight:normal;
	font-family:Arial;
	color: Maroon;
	font-size:small;
}

.HeadCss
{
	font-weight:bold;
	font-family:Arial;
	color: Maroon;
	font-size:small;
}
.Heading
{
    color: Maroon;
    font-family: Lucida Sans Unicode;
    font-size: x-large;
    font-weight: bold;
}
.textbox
{
   border:activewindow;
}
.rtextbox
{
   border:activewindow;
   text-align: right;
}
.etextbox
{
   BORDER-RIGHT: #800000 1px solid;
    BORDER-TOP: #800000 1px solid;
    BORDER-LEFT: #800000 1px solid;
    BORDER-BOTTOM: #800000 1px solid;
    background-color: Yellow;
}
.lprompt
{
    COLOR: Maroon;
    TEXT-ALIGN: left;
}

.FixedHeader
{
	position:relative;
}
.Frame
{
    margin: 0 0 0 0;
    border: solid 1px #CBD49E;
}
/* Locks the left column */
td.locked {
position:relative;
cursor: default; 
/*left: 'expression(document.getElementById("div-datagrid").scrollLeft-2)'; /*IE5+ only*/
}	
/* Locks table header */
th.locked {
position:relative;
cursor: default;
z-index: 10;
}
/* Keeps the header as the top most item. Important for top left item*/
/*th.locked {z-index: 99;}*/

a.menus
{
    BORDER-RIGHT: #37411a 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    BORDER-LEFT: #37411a 1px solid;
    COLOR: #37411a;
    font-family: Futura Regular;
    TEXT-DECORATION: none;
    white-space: nowrap;
}